{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

<body>

<!-- Header Stuff
============================================= -->
<div id="home-header-wrapper" class="container-fluid">
	<div class="span8">	
		<h3>SUP BRO (dis be da heada')</h3>
	</div>
	<div id="home-header-login" class="span2">	
		<p><a id="login-link"href="/login">Login Friend!</a></p>
	</div>
</div>

<!-- Body Content
============================================== -->

<div id="home-body-wrapper" class="container">
	<div id="home-body-row" class="row">
		<div id="home-tour" class="span6">
			<h3>Welcome to the site!</h3>
			<p>This is a a test paragraph... and it's going to go on and on about something interesting, which I don't really have timetime to talktalk about nownow. Right.</p>
			<p>And this is just one more test paragraph</p>
		</div>
		<div id="home-sign_up" class="span6">
			<h3>Sign Up</h3>
			<p>This is the place where my homies can sign demselves up fo' dis g site. Yeahbuddy.</p>
		</div>
	</div>
</div>

</body>

{% endblock content %}
