{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <p>This is the dashboard!</p>
    
    Wondering who else is signed up? Here's a list of all users:
    <table>
        <th>Username</th>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
        </tr>
        {% endfor %}
    </table>
    
    {% if not user.is_superuser %}
    <p>Seen enough? <a href="gone">Delete your account.</a></p>
    {% endif %}
    
{% endblock content %}
