

body {
	padding-bottom: 40px;
	padding-top:0px;
	background-color:#F0F8FF;
}

/************ Styles for Base template ***********/

#home-body-wrapper {
	/* border:solid 1px; */
	margin-top:75px;
	margin-bottom:75px;
}
/************* Styles for home page **************/

#home-tour {
	background-color:#eeeeee;
	height:500px;
}

#home-sign_up {
	background-color:#eeeeee;
	height:500px;
}

#home-header-wrapper {
	background-color:gray;
	height:100px;
} 
